<div class="container">


  {{observable$ | async | json}}
<div row>  <div *ngIf="submitted" class="alert alert-success">
    <strong>Answer has been Submitted Successfully</strong>
  </div>
</div>

  <form  (ngSubmit)="onSubmit()"  class="form-horizontal starter-template"  #agentform="ngForm">
    <div class="form-group">
      <label class="col-sm-2 control-label">Category</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="category"
               [(ngModel)]="agent.category" name="category" #name="ngModel"
               placeholder="" value="{{question.CATEGORY}}">
      </div>
    </div>

    <div class="form-group">
      <label  class="col-sm-2 control-label">Question</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="question"
               [(ngModel)]="agent.question" name="question" #question="ngModel"
               placeholder="" value="{{question.QUESTION}}">
      </div>

      <label class="col-sm-2 control-label">Answer</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" name="answer"
                  [(ngModel)]="agent.answer"  #answer="ngModel" value="{{question.ANSWER}}"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email"
               [(ngModel)]="agent.email"  #email="ngModel" placeholder="Your Email" >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input data-toggle="modal"
               data-target="#basicModal" id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                <h4 class="modal-title" id="myModalLabel">Answer Submitted</h4>
              </div>
              <div class="modal-body">
                <h3>The Agent is notifed by Email</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <! Will be used to display an alert to the user>
      </div>
    </div>
  </form>
</div><!-- /.container -->
