 <div class="container">
   {{observable$ | async | json}}

<div class="table-responsive starter-template">

  <div class="alert alert-info" *ngIf="questions.length == 0">
    <strong>No new questions posted</strong>
  </div>
  <table class="table table-striped table-bordered" *ngIf="questions.length != 0" >
    <thead >
    <tr>
      <th style="text-align: center">
        QUESTION
      </th>
      <th style="text-align: center">Status</th>
      <th style="text-align: center">
        SUBMITTED BY
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let question of questions'>
      <td>
        <a data-placement="left" data-toggle="tooltip"
           title="View Question Details"
           [routerLink]="['details', question.id]">
        {{question.question}}</a></td>
      <!--<td>{{user.password}}</td>-->
      <td>Verification Pending</td>
      <td>{{question.submittedby}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
